





@font-face {
    font-family: "Montserrat-Arabic-Medium";
    src: url("../webfonts/Montserrat/Montserrat-Arabic-Medium.woff") format("woff"), url("../webfonts/Montserrat/Montserrat-Arabic-Medium.woff2") format("woff2"), url("../webfonts/Montserrat/Montserrat-Arabic-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-Arabic-Bold";
    src: url("../webfonts/Montserrat/Montserrat-Arabic-Bold.woff") format("woff"), url("../webfonts/Montserrat/Montserrat-Arabic-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-Arabic-Regular";
    src: url("../webfonts/Montserrat/Montserrat-Arabic-Regular.woff") format("woff"), url("../webfonts/Montserrat/Montserrat-Arabic-Regular.woff2") format("woff2"), url("../webfonts/Montserrat/Montserrat-Arabic-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}


